.embla {
    position: relative;
    padding: 20px;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;

  }

  .embla__fader {
    position: relative;
    align-self: flex-end;
    -webkit-mask-image: linear-gradient(to left, transparent 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, transparent 100%);    
    mask-image: linear-gradient(to left, transparent 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, transparent 100%); 
    margin-left: -20%;
    padding-left: 20%;
    padding-right: 20%;
    margin-right: -20%;
    overflow: hidden;

  }

  /* Mobile - 1 slide in viewport */
.embla__slide {
    flex: 1;
  }
  
  /* Tablet - 2 slides in viewport */
  @media (min-width: 768px) {
    .embla__slide {
      flex: 0 0 50%;
    }
  }
  
  /* Desktop - 3 slides in viewport */
  @media (min-width: 992px) {
    .embla__slide {
      flex: 0 0 33.3333%;
    }
  }
  
  .embla__viewport {
    overflow: visible;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    background-color: transparent;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 50%;
    padding-left: 10px;
    overflow: visible;

  }
  
  .embla__slide__inner {
    position: relative;
    overflow: visible;
    height: 100%;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #1bcacd;
    padding: 0;
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
  
  .embla__button--prev {
    left: 27px;
  }
  
  .embla__button--next {
    right: 27px;
  }
  